---
layout: default
title: "Git2Go Ambassadors"
description: "Meet our ambassadors"
---

<div class="wrapper">
  <div class="container px2 sm-px3" style="max-width:64rem;">
    {% include header.html %}
    {% for post in site.categories.ambassadors %}
      <img class="ambassador" src="{{ post.avatar | prepend: site.url }}" />
      <div class="ambassador-name">{{ post.author }}</div>
      {{ post.content }}
    {% endfor %}

    <hr class="white-border mb3"></hr>
    {% include footer.html %}
  </div>
</div>
