---
layout: default
---

  <div class="container px2 sm-px3" style="max-width:64rem;">
    {% include header.html %}
    {% include app_header.html %}
    <hr class="white-border mb3"></hr>
    <div class="center" id="content">
      <h2 class="blue">The Git2Go Ambassador Program</h2>
    </div>
    <p>Are you as excited about the iOS platform as we are? Are you using your iPad as your main computer? Do you constantly try to convince your coworkers and friends about how easier Git is using Git2Go?</p>
    <p>Welcome to the group!</p>
    <p>We are really excited to share this program with our most loyal users and would love to have you on board. Joining the program has multiple benefits exclusive to this group:</p>
    <ul>
      <li>Full beta access for the lifetime of the program</li>
      <li>Get the possibility to give us feedback on features we work on early in the process and we will share our ideas with you.</li>
      <li>Get 2 free Enterprise Licenses for your friends or coworkers</li>
      <li>Get mentioned in the ambassador section on our website</li>
    </ul>
  <script src="https://static.airtable.com/js/embed/embed_snippet_v1.js"></script><iframe class="airtable-embed airtable-dynamic-height" src="https://airtable.com/embed/shrRzt6JtI5s4QG7w?backgroundColor=cyan" frameborder="0" onmousewheel="" width="100%" height="1311" style="background: transparent; border: 1px solid #ccc;"></iframe>
  <div class="center">
    <p>Application is open until April 30, 2016. We plan on having 5-10 people in the program. We will notify our users via E-Mail and share it on the website.</p>
  </div>
    <hr class="white-border mb3"></hr>
    {% include footer.html %}
  </div>
