---
layout: default
title: "Git2Go Blog"
description: "Tales of developers, users and productivity nerds around iOS devices."
---

<div class="wrapper">
  {% include header.html %}
  <div class="page-content">

  {% for post in site.categories.blog %}
  <div class="sm-flex flex-center py3">
    <div class="flex-first sm-col sm-col-12">
      <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
      <h2>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h2>

      {{ post.excerpt }}
    </div>
  </div>
  {% endfor %}

  <hr class="white-border mb3"></hr>
  {% include footer.html %}
</div>

