<div class="center mb3" id="preorder">
  <a id="appIcon" href="https://itunes.apple.com/us/app/git2go-git-client-you-always/id963577401?mt=8"><img style="height:125px; width:125px" src="./img/App Icon 2 - 120.svg"></a>
  <h1 class="blue">Git2Go</h1>
  <h3>The Git client for iPhone and iPad you always wanted</h4>
  <p>Git2Go is the first app for iOS which unleashes your full development productivity from everywhere. Clone all your GitHub and Bitbucket repositories with just one tap, manage branches and easily commit changes after you’ve edited code on-the-fly - All from your iPhone and iPad!</p>
  <a id="appstoreBadge" href="https://itunes.apple.com/us/app/git2go-git-client-you-always/id963577401?mt=8"><img style="height:60px; width:202px" src="./img/AppStoreBadge.svg"></a>
</div>
