<div class="center mb3" id="contact">
  <h1 class="blue">Stay in touch</h2>
</div>
<div class=" center sm-flex flex-start flex-justify py3">
  <div class="mb3 px3">
    <img class="mb2" style="height:125px; width:125px" src="./img/newsletter_git2go.svg" alt="newsletter icon">
    <p class="px3">Become part of our growing mailing list in order to hear first about our latest anouncements around Git2Go (no spam, we promise)!<br>
    <form action="//nerdishbynature.us9.list-manage.com/subscribe/post?u=e188f3c1da7d7607e9ba34d28&amp;id=257b4c1cdc" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate center" target="_blank" novalidate>
      <label class="hide center">Your E-Mail Adress</label>
      <div class="form-group">
        <input type="email" value="" name="EMAIL" class="block col-12 field rounded-top y-group-item mailinput center required email form-control" id="mce-EMAIL fieldEmail" placeholder="you@youremail.com" style="height: 3.2rem">
      </div>
      <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
      </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;"><input type="text" name="b_f7c4ba93d0e8266adfaabf3bf_1c69806335" tabindex="-1" value=""></div>
      <button type="submit" class="btn btn--full btn-cta mt1 mb3" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">Join our mailing list</button>
    </form>
    </p>
  </div>
</div>
