<div class="center mb3" id="preorder">
  <a id="appIcon" href="https://itunes.apple.com/us/app/git2go-enterprise-git-client/id1079716387?ls=1&mt=8"><img style="height:125px; width:125px" src="{{ site.url }}/img/App Icon 2 - 120.svg" alt="Git2Go Icon"></a>
  <h1 class="blue">Git2Go</h1>
  <h3>The Git client for iPhone and iPad you always wanted now Enterprise ready!</h4>
  <p>We share Apples vision of the best computer out on the market not being one. We believe in powerful devices like the iPad being the future of productivity in many contexts. Wether you are using Git to keep up with developers or use it for your company blog - We believe that Git2Go is the best application for Desktop-class Git productivity on your iOS device.</p>
  <p>Our Enterprise version packs all the mighty Git2go features you already love into a one time purchase. This way, you can easily secure licenses for your entire university classroom or your development workforce. All of that with the delivery convenience of the Apple Volume Purchase Program.</p>
  <a id="appstoreBadge" href="https://itunes.apple.com/us/app/git2go-enterprise-git-client/id1079716387?ls=1&mt=8"><img style="height:60px; width:202px" src="{{ site.url }}/img/AppStoreBadge.svg" alt="AppStore Badge"></a>
</div>
