<footer class="site-footer">
  <div class="center mt3">
    <p><a id="appstoreBadge" style="text-decoration:none" href="https://itunes.apple.com/us/app/git2go-git-client-you-always/id963577401?mt=8"><img style="height:48px; width:162px" alt="Available on the App Store" src="./img/AppStore_Badge.svg"></a></p>
    <p>&copy; 2015 - Made with &hearts; in Hamburg</p>
    <p><a class="purple" target="blank" href="http://twitter.com/git2go">Twitter</a> - <a class="purple" target="blank" href="https://medium.com/@herbigt/git2go-for-ios-review-guide-331fdea30120#.bfwap839i">Press Kit</a> - <a class="purple" target="blank" href="mailto:git2go@nerdishbynature.com">Say Hello</a> - <a class="purple" target="blank" href="http://nerdishbynature.com/imprint/">Imprint</a></p>
  </div>
</footer>
