<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">
    <link href="http://d2v52k3cl9vedd.cloudfront.net/basscss/7.0.3/basscss.min.css" rel="stylesheet">

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="shortcut icon" href="./img/favicon.png" type="image/png">
     
    <!-- Twitter Cards -->
    <meta name="twitter:card" content="app">
    <meta name="twitter:site" content="@Git2Go">
    <meta name="twitter:description" content="Git2Go is the first app which unleashes your full development productivity fron everywhere. Clone all your GitHub, Bitbucket and GitLab repositories with just one tap, manage branches and easily commit changes after you've edited code on-the-fly.">
    <meta name="twitter:image" content="./img/img_commits_smlr.png">
    <meta name="twitter:app:country" content="US">
    <meta name="twitter:app:name:iphone" content="Git2Go - The Git client you always wanted">
    <meta name="twitter:app:id:iphone" content="963577401">
    <meta name="twitter:app:name:ipad" content="Git2Go - The Git client you always wanted">
    <meta name="twitter:app:id:ipad" content="963577401">

    <!-- Facebook og:tags -->
    <meta property="og:title"content="Git2Go - The GitHub editor for iOS you alway wanted" />
    <meta property="og:site_name" content="git2go.com"/>
    <meta property="og:url" content="http://git2go.com"/>
    <meta property="og:description" content="Git2Go finally gives you all the git functionalities you always wanted on your iOS device. Connect all your GitHub, Bitbucket and GitLab accounts, aceppt pull requests, push commits, merge branches and experience the power of a full-flegded code editor on your iPhone or iPad." />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="./img/img_commits_smlr.png"/>

    <meta name="apple-itunes-app" content="app-id=963577401">
</head>
